<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">

<head>
  <meta charset="UTF-8">
  <title>Amazon 2 </title>
</head>

<body>
  <h1>Devolver Productos</h1>
  {% if not products %}
  <p>No puede devolver ningún producto si no ha comprado nada. Haga una compra en nuestra tienda antes.</p>
  <a href="/busca">Volver a Amazon2</a>
  {% else %}
  <form method="post">
    <table cellpadding="5px">
      <tr>
        <th>
          <b>ID</b>
        </th>
        <th>
          <b>NOMBRE</b>
        </th>
        <th>
          <b>TIPO</b>
        </th>
        <th>
          <b>MARCA</b>
        </th>
        <th>
          <b>MODELO</b>
        </th>
        <th>
          <b>PRECIO</b>
        </th>
      </tr>
      {% for item in products %}
      <tr>
        {% if item.id %}
        <td>{{ item.id }}</td>
        <td>{{ item.nombre }}</td>
        <td>{{ item.tipo }}</td>
        <td>{{ item.marca }}</td>
        <td>{{ item.modelo }}</td>
        <td>{{ item.precio }}</td>
        <td>
          <input type="checkbox" name="productsToReturn" value="{{ item.id }}">
        </td>
        {% endif %}
      </tr>
      {% endfor %}
    </table>
    <input type="submit" name="submit" value="Devolver">
  </form>
  {% endif %}
</body>

</html>