<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">

<head>
  <meta charset="UTF-8">
  <title>Amazon 2 </title>
</head>

<body>
  <h1>Devolver Productos</h1>
  {% if not compras %}
  <p>No puede devolver ningún producto si no ha comprado nada. Haga una compra en nuestra tienda antes.</p>
  <a href="/busca">Volver a Amazon2</a>
  {% else %}
  <form method="post">
    <table cellpadding="5px">
      <tr>
        <th>
          <b>COMPRA</b>
        </th>
      </tr>
      {% for item in compras %}
      <tr>
        <td>{{ item.compra }}</td>
        <td>
          <input type="checkbox" name="comprasToReturn" value="{{ item.compra }}">
        </td>
      </tr>
      {% endfor %}
    </table>
    <input type="submit" name="submit" value="Devolver">
  </form>
  {% endif %}
</body>

</html>